/* Logo-Größe anpassen */
.md-header__button.md-logo img {
  height: 200px;   /* Standard ist ~24px – z. B. 48px für doppelt so groß */
  width: auto;    /* behält Seitenverhältnis bei */
}
/* Schriftgröße des Site-Namens (Header-Text) */
.md-header__title {
  font-size: 3.2rem;     /* z. B. 1.5rem = 24px, Standard ist etwa 1.125rem */
  font-weight: 600;      /* optional: dicker machen */
}
.small-img {
  width: 400px;
}
.medium-img {
  width: 600px;
}
.wide-img {
  width: 100%;
}
.centered-img {
  display: block;
  margin: auto;
  width: 400px;
}