/* Logo-Größe anpassen */
.md-header__button.md-logo img {
  height: 200px;   /* Standard ist ~24px – z. B. 48px für doppelt so groß */
  width: auto;    /* behält Seitenverhältnis bei */
}
/* Schriftgröße des Site-Namens (Header-Text) */
.md-header__title {
  font-size: 3.2rem;     /* z. B. 1.5rem = 24px, Standard ist etwa 1.125rem */
  font-weight: 600;      /* optional: dicker machen */
}

/* Zentrierungsstile für Text und Blöcke */
.center-text {
  text-align: center;
  margin: 0 auto;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Textformatierung */
.centered-list {
  text-align: center;
  list-style-position: inside;
  padding-left: 0;
}

/* Bilder und Grafiken formatieren */
.small-img {
  width: 400px;
}
.medium-img {
  width: 600px;
}
.wide-img {
  width: 100%;
}
.centered-img {
  display: block;
  margin: auto;
  width: 400px;
}
/* IFrame Größe */
iframe.exercise {
  width: 100%;
  border: none;
  height: 520px;  /* einheitliche Höhe */
  margin-top: 1em;
  margin-bottom: 2em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}
iframe.short-exercise { height: 380px; }
iframe.long-exercise { height: 600px; }

/* Hauptkapitel in der Sidebar (Level 1) fett und größer */
.md-nav__item--section > .md-nav__link {
  font-weight: bold;
  font-size: 1.05rem;
}
/* gesamtes Dokument, Schriftgröße*/
body {
  font-size: 1.05rem;
}


